
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Art_Gallery.Models;

@{
    var likes = Model.obj;
    var sale = Model.sim;
    var pur = Model.obj1;
    var xidentifier = Model.identifier;
    int i = 1;
}

<script>
    function validateAddForm() {
        var x = document.forms["submitform"]["name"].value;
        if (x == "") {
            alert("Title cannot be empty!");
            return false;
        }
        x = document.forms["submitform"]["creator"].value;
        if (x == "") {
            alert("Creator cannot be empty!");
            return false;
        }

        x = document.forms["submitform"]["origin"].value;
        if (x == "") {
            alert("Origin cannot be empty!");
            return false;
        }

        x = document.forms["submitform"]["medium"].value;
        if (x == "") {
            alert("Medium cannot be empty!");
            return false;
        }

        x = document.forms["submitform"]["date"].value;
        if (x == "") {
            alert("Date cannot be empty!");
            return false;
        }

        x = document.forms["submitform"]["description"].value;
        if (x == "") {
            alert("Description cannot be empty!");
            return false;
        }

        x = document.forms["submitform"]["price"].value;
        if (x == "") {
            alert("Price cannot be empty!");
            return false;
        }

        x = document.forms["submitform"]["picture"].value;
        if (x == "") {
            alert("Picture link cannot be empty!");
            return false;
        }
        return true;
    }
    function validateRemForm() {
        var x = document.forms["submitRemForm"]["artid"].value;
        if (x == "") {
            alert("ArtID cannot be null!");
            return false;
        }
        return true;
    }
</script>

<!-- start section -->
<section class="extra-big-section parallax wow fadeIn" data-stellar-background-ratio="0.5" style="background-image: url('../Content/images/paintings/second.jpg')">
    <div class="opacity-full-dark bg-extra-dark-gray"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-11 col-xs-12 center-col text-center">
                @{ var u = @Context.Session[Context.Session.SessionID.ToString()] as User; }
                <div class="alt-font text-medium-gray text-uppercase text-small margin-20px-bottom">@u.user_name | @u.acc_type</div>
                <h5 class="text-light-gray alt-font margin-40px-bottom xs-margin-30px-bottom">Dashboard</h5>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<!-- start page title section -->
<section class="wow fadeIn bg-light-gray padding-100px-tb sm-padding-60px-tb xs-padding-30px-tb">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-medium">
                <div class="display-table-cell vertical-align-middle text-center">
                    <!-- start page title -->
                    <h1 class="alt-font text-extra-dark-gray font-weight-600 no-margin">Liked Artworks</h1>
                    <!-- end page title -->
                    <!-- start sub title -->
                    <span class="display-block margin-10px-top alt-font">Here's a list of artworks you have previously liked</span>
                    <!-- end sub title -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->
<!-- start slider section -->
<section class="no-padding height-100 bg-black">
    <div class="container-fluid">
        <div class="row">
            <div class="swiper-container swiper-four-slides white-move height-100 width-100 hover-option3">
                <div class="swiper-wrapper">
                    @if (likes != null)
                    {
                        foreach (Art a in likes)
                        {
                            <!-- start slide item -->
                            <div class="swiper-slide cover-background full-screen grid-item text-left" style="background-image:url(@a.Link);">
                                <div class="slide-hover-box">
                                    <div class="opacity-medium bg-black bg-black"></div>
                                    <figure class="position-absolute">
                                        <figcaption>
                                            <a href=@Url.Action("DisplayArtworkPage", "DisplayArtwork", new { identifier = @a.id })><h6 class="font-weight-300 text-white margin-20px-bottom">@a.Title</h6></a>
                                            <p class="text-white width-85 sm-width-100">@a.Creator</p>
                                            <div class="separator-line-horrizontal-medium-light2 opacity5 bg-white margin-35px-top sm-margin-15px-top"></div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <!-- end slide item -->
                        }
                        <!-- start slider pagination -->
                        <div class="swiper-pagination swiper-pagination-four-slides swiper-pagination-white"></div>
                        <div class="swiper-button-next swiper-button-black-highlight display-none"></div>
                        <div class="swiper-button-prev swiper-button-black-highlight display-none"></div>
                        <!-- end slider pagination -->
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end slider section -->
<!-- start page title section -->
<section class="wow fadeIn bg-light-gray padding-100px-tb sm-padding-60px-tb xs-padding-30px-tb">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-medium">
                <div class="display-table-cell vertical-align-middle text-center">
                    <!-- start page title -->
                    <h1 class="alt-font text-extra-dark-gray font-weight-600 no-margin">Up for Sale</h1>
                    <!-- end page title -->
                    <!-- start sub title -->
                    <span class="display-block margin-10px-top alt-font">Here's a list of artworks you've put up for sale</span>
                    <!-- end sub title -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->
<!-- start slider section -->
<section class="no-padding height-100 bg-black">
    <div class="container-fluid">
        <div class="row">
            <div class="swiper-container swiper-four-slides white-move height-100 width-100 hover-option3">
                <div class="swiper-wrapper">
                    @if (sale != null)
                    {
                        foreach (Art b in sale)
                        {
                            <!-- start slide item -->
                            <div class="swiper-slide cover-background full-screen grid-item text-left" style="background-image:url(@b.Link);">
                                <div class="slide-hover-box">
                                    <div class="opacity-medium bg-black bg-black"></div>
                                    <figure class="position-absolute">
                                        <figcaption>
                                            <a href=@Url.Action("DisplayArtworkPage", "DisplayArtwork", new { identifier = @b.id })><h6 class="font-weight-300 text-white margin-20px-bottom">@b.Title</h6></a>
                                            <p class="text-white width-85 sm-width-100">@b.Creator</p>
                                            <div class="separator-line-horrizontal-medium-light2 opacity5 bg-white margin-35px-top sm-margin-15px-top"></div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <!-- end slide item -->
                        }
                        <!-- start slider pagination -->
                        <div class="swiper-pagination swiper-pagination-four-slides swiper-pagination-white"></div>
                        <div class="swiper-button-next swiper-button-black-highlight display-none"></div>
                        <div class="swiper-button-prev swiper-button-black-highlight display-none"></div>
                        <!-- end slider pagination -->
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end slider section -->
<!-- start page title section -->
<section class="wow fadeIn bg-light-gray padding-100px-tb sm-padding-60px-tb xs-padding-30px-tb">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-medium">
                <div class="display-table-cell vertical-align-middle text-center">
                    <!-- start page title -->
                    <h1 class="alt-font text-extra-dark-gray font-weight-600 no-margin">Purchase History</h1>
                    <!-- end page title -->
                    <!-- start sub title -->
                    <span class="display-block margin-10px-top alt-font">Here's a history of your previous transactions</span>
                    <!-- end sub title -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->
<!-- start slider section -->
<section class="no-padding height-100 bg-black">
    <div class="container-fluid">
        <div class="row">
            <div class="swiper-container swiper-four-slides white-move height-100 width-100 hover-option3">
                <div class="swiper-wrapper">
                    @if (pur != null)
                    {
                        foreach (Art c in pur)
                        {
                            <!-- start slide item -->
                            <div class="swiper-slide cover-background full-screen grid-item text-left" style="background-image:url(@c.Link);">
                                <div class="slide-hover-box">
                                    <div class="opacity-medium bg-black bg-black"></div>
                                    <figure class="position-absolute">
                                        <figcaption>
                                            <a href=@Url.Action("DisplayArtworkPage", "DisplayArtwork", new { identifier = @c.id })><h6 class="font-weight-300 text-white margin-20px-bottom">@c.Title</h6></a>
                                            <p class="text-white width-85 sm-width-100">@c.Creator</p>
                                            <div class="separator-line-horrizontal-medium-light2 opacity5 bg-white margin-35px-top sm-margin-15px-top"></div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <!-- end slide item -->
                        }
                        <!-- start slider pagination -->
                        <div class="swiper-pagination swiper-pagination-four-slides swiper-pagination-white"></div>
                        <div class="swiper-button-next swiper-button-black-highlight display-none"></div>
                        <div class="swiper-button-prev swiper-button-black-highlight display-none"></div>
                        <!-- end slider pagination -->
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end slider section -->
<!-- start page title section -->
<section class="wow fadeIn bg-light-gray padding-100px-tb sm-padding-60px-tb xs-padding-30px-tb">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-medium">
                <div class="display-table-cell vertical-align-middle text-center">
                    <!-- start page title -->
                    <h1 class="alt-font text-extra-dark-gray font-weight-600 no-margin">Add Artworks</h1>
                    <!-- end page title -->
                    <!-- start sub title -->
                    <span class="display-block margin-10px-top alt-font">You can add artworks directly to the database here</span>
                    <!-- end sub title -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->
<!-- start form style 02 section -->
<section class="wow fadeIn bg-extra-dark-gray">
    <div class="container">
        <form name="submitform" id="" onsubmit="return validateAddForm()" action="/Dashboard/sell_art" method="post">
            <div class="row">
                <div class="col-md-8 wow fadeIn center-col text-center">
                    <div id="" class="no-margin-lr"></div>
                    <input type="text" name="name" id="name" placeholder="Name*" class="input-border-bottom">
                    <input type="text" name="creator" id="creator" placeholder="Creator*" class="input-border-bottom">
                    <input type="text" id="origin" name="origin" placeholder="Origin*" class="input-border-bottom">
                    <input type="text" id="medium" name="medium" placeholder="Medium*" class="input-border-bottom">
                    <input type="date" id="date" name="date" placeholder="Date*" class="input-border-bottom">
                    <textarea name="description" id="description" placeholder="Description*" class="input-border-bottom"></textarea>
                    <input type="number" id="price" name="price" placeholder="Price(USD) *" class="input-border-bottom">
                    <input type="text" id="picture" name="picture" placeholder="Picture Link*" class="input-border-bottom">
                    <button id="contact-us-button-2" type="submit" class="btn btn-small btn-deep-pink margin-30px-top xs-margin-three-top">Submit Artwork</button>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- end form style 02 section -->
<!-- start page title section -->
<section class="wow fadeIn bg-light-gray padding-100px-tb sm-padding-60px-tb xs-padding-30px-tb">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-medium">
                <div class="display-table-cell vertical-align-middle text-center">
                    <!-- start page title -->
                    <h1 class="alt-font text-extra-dark-gray font-weight-600 no-margin">Remove Artworks</h1>
                    <!-- end page title -->
                    <!-- start sub title -->
                    <span class="display-block margin-10px-top alt-font">You can remove existing artworks from the database here</span>
                    <!-- end sub title -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->
<!-- start form style 02 section -->
<section class="wow fadeIn bg-extra-dark-gray">
    <div class="container">
        <form name="submitRemform" id="" onsubmit="return validateRemForm()" action="/Dashboard/remove_art" method="post">
            <div class="row">
                <div class="col-md-8 wow fadeIn center-col text-center">
                    <div id="success-contact-form-2" class="no-margin-lr"></div>
                    <input type="number" name="artid" id="artid" placeholder="ArtworkID" class="input-border-bottom">
                    <button id="contact-us-button-2" type="submit" class="btn btn-small btn-deep-pink margin-30px-top xs-margin-three-top">Remove Artwork</button>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- end form style 02 section -->
