@{
    ViewBag.Title = "ExecuteNameSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Art_Gallery.Models;

@model List<Art>
@{
    int i = 1;
}

<link rel="stylesheet" type="text/css" href="~/Content/toastR/toastr.min.css" />
<script src="~/Content/toastR/jQuery.min.js"></script>
<script src="~/Content/toastR/toastr.min.js"></script>

<!-- start page title section -->
<section class="wow fadeIn parallax" data-stellar-background-ratio="0.5" style="background-image:url('../Content/images/paintings/second.jpg');">
    <div class="opacity-medium bg-extra-dark-gray"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 extra-small-screen display-table page-title-large">
                <div class="display-table-cell vertical-align-middle text-center">
                    <!-- start page title -->
                    <h1 class="text-white alt-font font-weight-600 letter-spacing-minus-1 margin-10px-bottom">Search Results</h1>
                    <!-- end page title -->
                    <!-- start sub title -->
                    <span class="text-white opacity6 alt-font no-margin-bottom">Galerie d'Art</span>
                    <!-- end sub title -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->
<!-- start page title section -->
<section class="wow fadeIn bg-light-gray padding-35px-tb page-title-small">
    <div class="container">
        <div class="row equalize xs-equalize-auto">
            <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 display-table">
                <div class="display-table-cell vertical-align-middle text-left xs-text-center">
                    <!-- start page title -->
                    <h1 class="alt-font text-extra-dark-gray font-weight-600 no-margin-bottom text-uppercase">Search results via Name</h1>
                    <!-- end page title -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->
<!-- start section -->
<section class="wow fadeIn">
    <div class="container">
        <div class="row">
            <main class="col-md-9 col-sm-12 col-xs-12 right-sidebar sm-margin-60px-bottom xs-margin-40px-bottom sm-padding-15px-lr center-col">
                @{
                    if (Model == null)
                    {

                    }
                    else
                    {
                        foreach (Art a in Model)
                        {
                            <!-- start post item -->
                            <div class="equalize sm-equalize-auto blog-post-content margin-60px-bottom padding-60px-bottom display-inline-block border-bottom border-color-extra-light-gray sm-margin-30px-bottom sm-padding-30px-bottom xs-text-center sm-no-border">
                                <div class="blog-image col-md-5 no-padding sm-margin-30px-bottom xs-margin-20px-bottom margin-45px-right sm-no-margin-right display-table">
                                    <div class="display-table-cell vertical-align-middle">
                                        <a href="blog-standard-post.html"><img src="@a.Link" alt=""></a>
                                    </div>
                                </div>
                                <div class="blog-text col-md-6 display-table no-padding">
                                    <div class="display-table-cell vertical-align-middle">
                                        <div class="content margin-20px-bottom sm-no-padding-left ">
                                            <a href="blog-standard-post.html" class="text-extra-dark-gray margin-5px-bottom alt-font text-extra-large font-weight-600 display-inline-block">@a.Title</a>
                                            <div class="text-medium-gray text-extra-small margin-15px-bottom text-uppercase alt-font"><span>By @a.Creator</span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<span>@a.Origin</span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#" class="text-medium-gray">@a.Date</a></div>
                                            <p class="no-margin width-95">@a.Description</p>
                                        </div>
                                        <a class="btn btn-very-small btn-dark-gray text-uppercase" href='@Url.Action("DisplayArtworkPage", "DisplayArtwork", new { identifier = (@a.id +59)*123+10 })'>Explore Artwork</a>
                                    </div>
                                </div>
                            </div>
                            <!-- end post item -->
                        }
                    }
                }
            </main>
        </div>
    </div>
</section>
<!-- start section -->

<script>
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-center",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
    $(document).ready(function notif() {
        if("@ViewBag.Message.ToString()" != "")
            toastr.error("@ViewBag.Message.ToString()");
    });
</script>